<?php
define('DB_NAME', '{{ db_name }}');
define('DB_USER', '{{ db_user }}');
define('DB_PASSWORD', '{{ db_password }}');
define('DB_HOST', '{{ db_host }}');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

$table_prefix = 'wp_';

define('AUTH_KEY',         '{{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits,./') }}');
define('SECURE_AUTH_KEY',  '{{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits,./') }}');
define('LOGGED_IN_KEY',    '{{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits,./') }}');
define('NONCE_KEY',        '{{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits,./') }}');
define('AUTH_SALT',        '{{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits,./') }}');
define('SECURE_AUTH_SALT', '{{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits,./') }}');
define('LOGGED_IN_SALT',   '{{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits,./') }}');
define('NONCE_SALT',       '{{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits,./') }}');

define('WP_DEBUG', false);

if ( !defined('ABSPATH') )
    define('ABSPATH', dirname(__FILE__) . '/');
require_once(ABSPATH . 'wp-settings.php');

define('MYSQL_CLIENT_FLAGS', MYSQLI_CLIENT_SSL);
define('MYSQL_SSL_VERIFY_SERVER_CERT', false);
